name: CI

on:
  pull_request:
    branches:
      - main

jobs:
  lint-and-test:
    name: Lint and Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.24"
          cache: true

      - name: Cache golangci-lint
        uses: actions/cache@v4
        with:
          path: $(go env GOPATH)/bin/golangci-lint
          key: golangci-lint-v2.2.1

      - name: Install golangci-lint
        run: go install github.com/golangci/golangci-lint/cmd/golangci-lint@v2.2.1
        if: steps.cache_golangci_lint.outputs.cache-hit != 'true'

      - name: Run golangci-lint
        run: $(go env GOPATH)/bin/golangci-lint run ./...

      - name: Run tests
        run: go test -v ./...

      - name: Build
        run: go build -v ./cmd/app
