name: CI

on:
  push:
    branches: ["main", "master"]
  pull_request:
    types: [opened, synchronize]

jobs:
  test-frontend:
    name: Frontend - Build, Test, and Lint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 23
          cache: "pnpm"

      - name: Install Dependencies
        run: pnpm install

      - name: Run Frontend Pipeline
        run: pnpm turbo run build test lint --filter=web

  test-backend:
    name: Backend - Test and Lint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.24"
          cache: true
          cache-dependency-path: apps/backend/go.sum

      - name: Install Go Dependencies
        working-directory: apps/backend
        run: go mod download

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.0.1
          working-directory: apps/backend

      - name: Run Go Tests
        working-directory: apps/backend
        run: go test ./...

  test-ai:
    name: AI - Test and Lint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"

      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          virtualenvs-create: true
          virtualenvs-in-project: true
          installer-parallel: true

      - name: Load cached venv
        id: cached-poetry-dependencies
        uses: actions/cache@v5
        with:
          path: apps/ai/.venv
          key: venv-${{ runner.os }}-${{ hashFiles('apps/ai/poetry.lock') }}

      - name: Install Python Dependencies
        if: steps.cached-poetry-dependencies.outputs.cache-hit != 'true'
        working-directory: apps/ai
        run: poetry install --no-interaction

      - name: Run Python Tests
        working-directory: apps/ai
        run: poetry run pytest
